.LinkCard {
    width: 95%;
    height: 60px;
    background-color: #9bb1bb;
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.LinkCard:hover {
    background-color: #b8c8cf;
}